*{
PADDING:0px;
MARGIN:0px;
FONT-FAMILY:SANS-SERIF;
}
.BODY{
    background-repeat: ;
}
.LOGIN-PAGE{
background-image: url();
WIDTH: 350PX;
TOP: 100%;
LEFT:100%;
TRANSFORM:TRANSLATE(-50%, -50%);
POSITION: ABSOLUTE;
COLOR: #FFF;
}
.LOGIN-PAGE H1{
FONT-SIZE: 40PX;
TEXT-ALIGN:CENTER;
TEXT-TRANSFORM: UPPERCASE;
MARGIN: 100PX 0;
}
.LOGIN-PAGE P{
FONT-SIZE: 50PX;
MARGIN: 15PX 0;
}
.LOGIN-PAGE INPUT{
FONT-SIZE: 16PX;
WIDTH:100%;
PADDING: 15PX 10PX;
BORDER: 0;
OUTLINE: NONE;
BORDER-RADIUS: 5PX;
}
.LOGIN-PAGE BUTTON{
FONT-SIZE: 18PX;
FONT-WEIGHT: BOLD;
color-scheme: skyblue;
}